<div class="link-container">
    <a (click)="dishService.applyCurrentSet()" class="link-button main-button">
      <span class="material-icons">done</span>
      Apply current set
    </a>
    <a (click)="openDialog()" class="link-button">
      <span class="material-icons">lunch_dining</span>
      Change number of dishes
    </a>
</div>
<div class="meal-set-container">
  <div class="meal-set-section">
    <app-recommended-sets></app-recommended-sets>
  </div>
  <div class="meal-set-section">
      <app-dish-list></app-dish-list>
  </div>
  <div class="meal-set-section">
    <app-ingredients-list></app-ingredients-list>
  </div>
</div>
