/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link-container {
    padding: 0 0 20px 20px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #dedede;
    display: flex;
}

.main-container {
    padding: 0px 20px;
}

.link-button {
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-weight: 600;
}

.main-button {
    color: #f19722;
    margin-right: 20px;
}

.link-button.main-button:visited {
    color: #f19722;
}

.link-button:hover {
    background-color: #d6d6d6;
}

.link-button:visited {
    color: black;
}

.link-button span {
    margin-right: 5px;
}