<div class="recommended-sets-header">
    <h2 class="flex-basis-50">Recommended sets</h2>
    <h2 class="flex-basis-50">Compatability</h2>
</div>
<div>
    <div *ngFor="let set of sets$ | async; let i = index;" class="set-container">
        <div class="flex-basis-50 set-name-container">
            <p>
                <span class="indicator color-{{i + 1}}"></span>
                {{ set.name }}
            </p>
        </div>
        <div class="flex-basis-50 cell-container color-{{i + 1}}">
            <span class="cell-border">
                <span class="cell-background"></span>
                <span class="cell-value">{{ set.compatability }}</span>
            </span>
        </div>
    </div>
</div>