<table mat-table [dataSource]="this.dataSource">
    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef width="5%" class="icon-header"></th>
        <td mat-cell *matCellDef="let guest" class="icon-column">
            <span class="material-icons">
                person
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef width="10%">GuacID</th>
        <td mat-cell *matCellDef="let guest"> {{ guest.guacId }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="80%">Guest Name</th>
        <td mat-cell *matCellDef="let guest">{{ guest.guestName }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef width="5%"></th>
        <td mat-cell *matCellDef="let guest">
            <a routerLink="/">
                <span class="material-icons">keyboard_arrow_right</span>
            </a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>