<mat-accordion>
    <mat-expansion-panel *ngFor="let dish of dishes$ | async; let i = index" [expanded]="step === i" (opened)="setStep(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ dish.name }}
            </mat-panel-title>
            <mat-panel-description>
                x {{ dish.ingredients.length }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let ingredient of dish.ingredients" class="ingredient-container">
            <p>{{ ingredient.name }}</p>
            <span>{{ ingredient.amount }} {{ ingredient.measurement }}</span>
        </div>
    </mat-expansion-panel>
</mat-accordion>