.breakfast-list-filter {
    display: flex;
}

.breakfast-list-filter .reservation-form {
    margin-right: 25px;
    flex: 0 0 auto;
}

.breakfast-list-filter .search-form {
    flex: 1 0 auto;
    display: flex;
}

.search-form-input {
    flex: 1 1 auto;
    max-width: 500px;
}